<div class="mt-5 usco-card shadow-lg">
    <div class="card-uscoHeader">
        <h2 class="text-center">REGISTRATE</h2>
    </div>
    <div class="card-uscoContent animated fadeIn fast">
        <form [formGroup]="forma" (ngSubmit)="nextRegistro()" appPasswordMismatch>
            <div class="mx-5 form-group">
                <label for="correo" class="font-weight-bold">CORREO:</label>
                <div class="input-group">
                    <input formControlName="email" name="email" type="text" id="email" placeholder="Digite su correo" class="uscoInputs form-control" maxlength="25" pattern="[^@]([A-Za-z0-9._]+){1,25}" required autofocus>
                    <div class="input-group-append ">
                        <span class="input-group-text input-inside-button">@usco.edu.co</span>
                    </div>
                </div>
                <h6 *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="email.errors.required">
                        El correo es requerido.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        El correo no es valido.
                    </div>
                </h6>
            </div>
            <div class="mx-5 form-group">
                <label for="password " class="font-weight-bold">CONTRASEÑA:</label><br>
                <div class="mb-2 input-group">
                    <!--Falla de seguridad--><input formControlName="password" (change)="somethingChanged()" name="password" type="password" id="password" placeholder="Digite su contraseña" class="uscoInputs form-control" maxlength="30" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,30}$"
                        required>
                    <div class=" input-group-append ">
                        <button class="input-group-text input-inside-button " type="button" (click)="showpassword( 'password', 'showpass1')"><i class='far fa-eye-slash' id="showpass1"></i></button>
                    </div>
                </div>
                <h6 *ngIf="password?.invalid && (password.dirty || password.touched)" class="mt-2" style="color: red;">
                    <div *ngIf="password.errors.required">
                        La contraseña es requerida.
                    </div>
                    <div *ngIf="password.errors.pattern">
                        <p class="d-none" id="patternWrong"><i class='fas fa-exclamation-circle' style='color:red'></i> Usa 8 o más caracteres con una combinación de letras, números y símbolos</p>
                    </div>
                </h6>
                <p class="" id="patternOkay">Usa 8 o más caracteres con una combinación de letras, números y símbolos</p>
            </div>
            <div class="mx-5 form-group">
                <label for="password" class="font-weight-bold">CONFIRME SU CONTRASEÑA:</label><br>
                <div class="input-group">
                    <input formControlName="passwordComprobar" type="password" id="confirmPassword" placeholder="Digite de nuevo su contraseña" class="uscoInputs form-control" maxlength="30" required>
                    <div class="input-group-append">
                        <button class="input-group-text input-inside-button" type="button" (click)="showpassword('confirmPassword', 'showpass2')"><i class='far fa-eye-slash' id="showpass2"></i></button>
                    </div>
                </div>
                <h6 *ngIf="passwordComprobar?.invalid && (passwordComprobar.dirty || passwordComprobar.touched)" class="mt-2" style="color: red;">
                    <div *ngIf="passwordComprobar.errors.required">
                        La confirmación de la contraseña es requerida.
                    </div>
                </h6>
                <h6 *ngIf="forma.errors?.mismatch" class="mt-2" style="color: red;">
                    Las contraseñas no coinciden.
                </h6>
            </div>
            <div class="txtcenter">
                <a class="mr-5 uscolink" href="javascript: history.back()">VOLVER ATRÁS</a>
                <input type="submit" value="SIGUIENTE" [disabled]="!forma.valid" class="btn uscoButton">
            </div>
        </form>
    </div>
</div>