<div class="col-8 mx-auto my-5">
    <div class="d-flex justify-content-between">
        <h3 class="text-left">Identificacion del Semillero</h3>
        <h5 class="text-right textOrderForm">Formulario 2/4</h5>

    </div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Actividades que desarrolló en el Semillero</label>
            <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder=""> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>


        <div class="d-flex justify-content-between">
            <h4 class="text-left">Responsables</h4>
    
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Tutor del semillero</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword">
            </div>
          </div>

    
        <div class="nav nav-pills nav-fill mt-5">
            <!-- <button type="submit" class="nav-item btn btnFormInscripcionCancel btn-lg mx-2">Cancelar Proceso</button> -->
            <a class="nav-item btn btnFormInscripcionCancel btn-lg mx-2" routerLink="/semillero">Cancelar Proceso</a>

            <a class="nav-item btn btn-lg mx-2 btnFormInscripcion" routerLink="/semillero/form3">Siguiente</a>
        </div>

    </form>
</div>