<div class="col-8 mx-auto my-5">
    <div class="d-flex justify-content-between">
        <h3 class="text-left">Identificacion del Semillero</h3>
        <h5 class="text-right textOrderForm">Formulario 2/4</h5>

    </div>

    <form [formGroup]="registrationForm2"  (ngSubmit)=onSubmit() novalidate>
        <div class="form-group">
            <label >Actividades que desarrolló en el Semillero</label>
            <textarea  formControlName="Actividades" onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 192 && event.charCode <= 255) || event.charCode ==32'
                  maxlength="339" ng-minlength="10" ng-model="Actividadessd" required autofocus  class="form-control"  rows="3" ></textarea>

            </div>
            <h6 *ngIf="isSubmitted && registrationForm2.controls.Actividades.value == ''" class="mt-2" style="color: red;">
                No se puede dejar este campo en blanco
             </h6>



        <div class="d-flex justify-content-between">
            <h4 class="text-left">Responsables</h4>

        </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Tutor del semillero</label>
              <select id="inputState" class="form-control"  formControlName="NombreTutor" required>
                  <option selected value="" >seleccione</option>
                  <option *ngFor="let tutor of tutores">{{tutor.name}}</option>

              </select>
          </div>
          <h6 *ngIf="isSubmitted && registrationForm2.controls.NombreTutor.value == '' " class="mt-2" style="color: red;">
              seleccione una opcion valida
           </h6>


        <div class="nav nav-pills nav-fill mt-5">
            <!-- <button type="submit" class="nav-item btn btnFormInscripcionCancel btn-lg mx-2">Cancelar Proceso</button> -->
            <a class="nav-item btn btnFormInscripcionCancel btn-lg mx-2" routerLink="/semillero">Cancelar Proceso</a>
            <a class="nav-item btn btn-lg mx-2 btnFormInscripcion" routerLink="/semillero/form1">Volver Atras</a>
            <button class="nav-item btn btn-lg mx-2 btnFormInscripcion" type="submit">Siguiente</button>
        </div>


    </form>
</div>
















