<br>
<div class="container">
    <div class="row animated fadeIn fast">
        <!-- columna 1 del componente -->
        <div class="col">
            <h3 style="text-align: center">¿COMO PUEDO PUBLICAR MI PROYECTO?</h3><br>
            <h4><span class="badge badge-danger">1</span> Plantilla Solicitud</h4>
            <br>
            <p class="display-5"><em>1. Deberá dirigirse al menú en la sección de plantilla de solicitud.
            <br> 2. Los datos de su cuenta se cargaran automaticamente en el campo de estudiantes, si desea agregar otro integrante, presione el boton "AGREGAR" y llene los campos.
            <br> 3. Introduzca el titulo del proyecto y seleccione el tipo de modalidad.
            <br> 4. Escriba el nombre del concejero(s) del proyecto.
            <br> 5. Si está seguro de sus cambios, puede descargar el formulario presionando el boton "DESCARGAR", de lo contrario guarde la informacion y luego corrija los campos.
            </em></p>
            <br>
            <h4><span class="badge badge-danger">2</span> Anteproyecto</h4>
            <br>
            <p class="display-5"><em> 1. Deberá dirigirse al menú en la sección de Anteproyecto.
            <br> 2. Diligencie la plantilla de anteproyecto en su totalidad.
            <br> 3. Arrastre la plantilla al centro de la pagina o presione y busque el archivo.
            <br> 4. Presione el boton "ENVIAR" para subir su anteproyecto.
            </em></p>
            <br>
            <h4><span class="badge badge-danger">3</span> Proyecto</h4>
            <br>
            <p class="display-5"><em>1. Deberá dirigirse al menú en la sección de Proyecto.
            <br> 2. En las palabras claves usted debera poner palabras que ayuden a asociar su proyecto con temas de interes, esto será util en la busqueda de proyectos, ejemplo de ello (inteligencia artifical, seguridad informatica, etc.).
            <br> 3. Arrastre su proyecto al centro de la pagina o presione y busque el archivo (recuerde que debe ser en formato pdf, y tener máximo 80 páginas).
            <br> 4. Presione el boton "ENVIAR" para subir su proyecto.
            </em></p>
            <br>
            <h4><span class="badge badge-danger">4</span> Articulo</h4>
            <br>
            <p class="display-5"><em>1. Deberá dirigirse al menú en la sección de Articulo.
            <br> 2. Arrastre su articulo al centro de la pagina o presione y busque el archivo (recuerde que debe ser en formato pdf, y tener 80 páginas).
            <br> 3. Presione el boton "ENVIAR" para subir su articulo.
            </em></p>
            <br><br><br>


            <div class="col text-right">
                   
              
            <a class="text-uppercase iconRadio" style="color: #8F141B ;font-size: 18px;font-family:Segoe UI;margin-bottom: 10px;background-color: white" download="MANUAL_BPUS.pdf" href="../../../../assets/02-Formato Anteproyecto de grado.pdf">
                  <span class="fas fa-download fa-lg "> DESCARGAR MANUAL </span></a> 
                   
                  
            </div>


        </div>

    </div>
</div>