<div class="col-8 mx-auto my-5">
    <div class="d-flex justify-content-between">
        <h3 class="text-left">Identificacion del Semillero</h3>
        <h5 class="text-right textOrderForm">Formulario 4/4</h5>

    </div>
    <form [formGroup]="registrationForm4" (ngSubmit)=onSubmit() novalidate>
        <div class="form-group">
            <label>Objetivos especificos del proyecto</label>
            <textarea class="form-control" formControlName="ObjetivosEp" id="ObjetivosEp" rows="3"></textarea>
        </div>
        <h6 *ngIf="isSubmitted && registrationForm4.controls.ObjetivosEp.value == ''" class="mt-2" style="color: red;">
            No se puede dejar este campo en blanco
         </h6>
        <div class="form-group">
            <label >Justificacion del proyecto</label>
            <textarea class="form-control" formControlName="JustifiacionP" id="JustificacionP" rows="3"></textarea>
        </div>
        <h6 *ngIf="isSubmitted && registrationForm4.controls.JustifiacionP.value == ''" class="mt-2" style="color: red;">
            No se puede dejar este campo en blanco
         </h6>




        <div class="nav nav-pills nav-fill mt-5">
            <!-- <button type="submit" class="nav-item btn btnFormInscripcionCancel btn-lg mx-2">Cancelar Proceso</button> -->
            <a class="nav-item btn btnFormInscripcionCancel btn-lg mx-2" routerLink="/semillero">Cancelar Proceso</a>



            <!-- <a class="nav-item btn btn-lg mx-2 btnFormInscripcion" routerLink="/register/02">Siguiente</a> -->
            <a class="nav-item btn btn-lg mx-2 btnFormInscripcion" routerLink="/semillero/form3">Volver Atras</a>
            <button  class="nav-item btn btn-lg mx-2 btnFormInscripcion" data-target="#registroExito" data-toggle="modal" #registroExito type="submit">Siguiente</button>

        </div>

    </form>
</div>






<!-- Modal -->
<div class="modal fade" id="registroExito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="text-center">¡Registro Exitoso!</h2>
                <img src="../../../assets/img/confirm.jpeg" class="rounded mx-auto d-block" alt="...">
                <h3 class="text-center">Su solicitud esta en proceso...</h3>

                <h5 class="text-center">Numero de Radicado: <strong>20191113N01</strong> </h5>
            </div>
            <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
        </div>
    </div>
</div>
