     
     
     <h3>{{ leyenda }}</h3>
     
     
     <div class="input-group">
      <input #txtPorcentaje type="number" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)" min=1 max=100>
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
        <button class="btn btn-outline-primary" type="button"(click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
      </div>
    </div>