<body>
    <br>
    <br>
    <div class="container animated fadeIn fast">
        <h2 class="titulo">SOLICITUDES DE APROBACION</h2>
        <br>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th></th>
                    <th>INFORMACION</th>
                    <th>ESTADO</th>
                </tr>
                <tr>
                    <td class="visual"><img src="../../assets/exmpro.png"></td>
                    <td class="informacion">
                        <p>TITULO:</p>
                        <br> Autor: <br/> Carrera: <br/> No de radicacion:
                        <div class="pdf">
                            <a>...ver pdf</a>
                        </div>

                    </td>
                    <td class="estado"><br/><br/><br/><input type="button" class="btn uscoButton" value="PENDIENTE"></td>
                </tr>
                <tr>
                    <td class="visual"><img src="../../assets/exmpro.png"></td>
                    <td class="informacion">
                        <p>TITULO:</p>
                        <br> Autor: <br/> Carrera: <br/> No de radicacion:
                        <div class="pdf">
                            <a>...ver pdf</a>
                        </div>
                    </td>
                    <td class="estado"><br/><br/><br/><input type="button" class="btn uscoButton" value="PENDIENTE"></td>
                </tr>
                <tr>
                    <td class="visual"><img src="../../assets/exmpro.png"></td>
                    <td class="informacion">
                        <p>TITULO:</p>
                        <br> Autor: <br/> Carrera: <br/> No de radicacion:
                        <div class="pdf">
                            <a>...ver pdf</a>
                        </div>
                    </td>
                    <td class="estado"><br/><br/><br/><input type="button" class="btn uscoButton" value="PENDIENTE"></td>
                </tr>
            </tbody>
        </table>
        <div class="atras">
            <a>&#9668;ATRAS</a>
        </div>
        <div class="btnhistorial">
            <input type="button" class="btn uscoButton" value="VER HISTORIAL DE SOLICITUDES">
        </div>
    </div>



</body>
