<!--
    - Proyecto:         BPUS
    - Componente:       Perfil Admin
    - Desarrollador:    John David Guerrero Córdoba
    - Descripción:      Perfil Admin con rutas hijas para CRUD de tablas
    -Última modificación:  27/07/2019   
-->
<br>
<h3 class="text-uppercase animated fadeIn fast">SEDES</h3><br>
<h6 class="text-left text-uppercase" style="margin-top: 2%">Sedes Registradas (<small> {{ _SedeService.totalSedes }} </small>)</h6>
<div class="text-right" style="padding: 1%">
    <button (click)="openModal(agregarSede)" class="btn btn-outline-dark" style="margin:2px"><span class="fas fa-user-plus fa-2x"></span></button>
    <button class="btn btn-outline-dark" style="margin:2px"><span class="fas fa-redo-alt fa-2x"></span></button>
</div>
<div class="table-responsive-md animated fadeIn fast">
    <table class="table table-bordered">
        <thead>
            <tr class="tablaAdmin">
                <th scope="col" style="width: 10%" class="align-middle">#</th>
                <th scope="col" style="width: 10%" class="align-middle">Nombre</th>
                <th scope="col" style="width: 10%" class="align-middle">Ciudad</th>
                <th scope="col" style="width: 10%" class="align-middle">Dirección</th>
                <th scope="col" style="width: 10%" class="align-middle">Correo</th>
                <th scope="col" style="width: 10%" class="align-middle colorRojo">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sede of sedes;  let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{ sede.nombre}}</td>
                <td>{{ sede.ciudad}}</td>
                <td>{{ sede.direccion}}</td>
                <td>{{ sede.email}}</td>
                <td>
                    <div class="row">
                        <div class="col text-left" style="width: 50%;padding: 2%">
                            <button (click)="editarSede(sede)" class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
                        </div>
                        <div class="col text-right" style="width: 50%;padding: 2%">
                            <button (click)="borrarSedes(sede)" class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-right">
            <button (click)="cambiarDesde(-5)" class="btn btn-outline-dark" style="width: 50px;margin-right: 2px"><span class="fas fa-arrow-left"></span></button>
            <input class="" type="text" value="1" style="width: 45px;height: 37px;margin: 0px;padding-bottom: 8px;text-align: center">
            <button (click)="cambiarDesde(5)" class="btn btn-outline-dark" style="width: 50px;margin-left: 2px"><span class="fas fa-arrow-right"></span></button>
        </div>
    </div>
</div>

<!--Modal de agregar sede-->
<ng-template #agregarSede let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Sede</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="forma" (ngSubmit)="addSede()">
            <div class="mt-3 form-group text-left">
                <label for="correo" class="font-weight-bold text-uppercase">NOMBRE:</label>
                <input type="text" formControlName="nombre" placeholder="Ingrese el nombre" class="uscoInputs form-control" maxlength="25" required autofocus>
                <h6 *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="nombre.errors.required">
                        El nombre es requerido.
                    </div>
                </h6>
            </div>
            <div class="form-group text-left">
                <label for="correo" class="font-weight-bold text-uppercase">CIUDAD:</label>
                <input type="text" formControlName="ciudad" placeholder="Ingrese la ciudad" class="uscoInputs form-control" maxlength="25" required>
                <h6 *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="ciudad.errors.required">
                        La ciudad es requerida.
                    </div>
                </h6>
            </div>
            <div class="form-group text-left">
                <label for="correo" class="font-weight-bold text-uppercase">DIRECCIÓN:</label>
                <input type="text" formControlName="direccion" placeholder="Ingrese la dirección" class="uscoInputs form-control" maxlength="25" required>
                <h6 *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="direccion.errors.required">
                        La dirección es requerida.
                    </div>
                </h6>
            </div>
            <div class="form-group text-left">
                <label for="email" class="font-weight-bold text-uppercase">CORREO:</label>
                <input type="email" formControlName="email" placeholder="Ingrese el correo" class="uscoInputs form-control" maxlength="25" required>
                <h6 *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="email.errors.required">
                        El correo es requerido.
                    </div>
                </h6>
            </div>
            <div class="txtcenter">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="submit" [disabled]="!forma.valid" class="btn uscoButton">CREAR</button>
            </div>
        </form>
    </div>
</ng-template>
<!--Cierre del modal de agregar sede-->