
<br>
<div class="container">
    <div class="row">
        <!-- columna 1 del componente -->
        <div class="col">
            <h3 style="text-align: center">¿COMO PUEDO PUBLICAR MI PROYECTO?</h3><br>
            <h4><span class="badge badge-danger">1</span> Plantilla Solicitud</h4>
            <br>
            <p class="display-5"><em>Se presentará un formulario que deberá ser deligenciado en su totalidad, para que el estudiante tenga permitido pasar al siguiente paso.</em></p>
            <br>
            <h4><span class="badge badge-danger">2</span> Anteproyecto</h4>
            <br>
            <p class="display-5"><em>Se presentará un formulario que deberá ser diligenciado en su totalidad, para que el estudiante tenga permitido pasar al siguiente paso.</em></p>
            <br>
            <h4><span class="badge badge-danger">3</span> Proyecto</h4>
            <br>
            <p class="display-5"><em>Se presentará un formulario que deberá ser diligenciado en su totalidad, para que el estudiante tenga permitido pasar al siguiente paso.</em></p>
            <br>
            <h4><span class="badge badge-danger">4</span> Presentación de proyecto</h4>
            <br>
            <p class="display-5"><em>Se presentará un formulario que deberá ser diligenciado en su totalidad, para que el estudiante tenga permitido pasar al siguiente paso.</em></p>
            <br><br><br>
            <p class="triangulo">
                <p><a class="btnatras" href="">ATRÁS</a>


        </div>
        <!-- columna 2 del componente -->
        <div class="col" style="text-align: center">
            <table class="table table-bordered bigletter classcheck">
                <tr>
                    <td>
                        <label><strong>Tu solicitud de inscripción ha sido aprobada (Dar click)</strong></label>
                    </td>
                    <td>
                        <input type="checkbox" id="cbox1" value="aprobacion solicitud">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Se ha enviado exitosamente tu plantilla de inscripción</strong></label>
                    </td>
                    <td>
                        <input type="checkbox" id="cbox1" value="aprobacion solicitud" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Tu propuesta de proyecto ha sido aprobada</strong></label>
                        <td>
                            <input type="checkbox" id="cbox1" value="aprobacion solicitud" disabled="true">
                        </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Se ha asignado un profesor a tu proyecto</strong></label>
                    </td>
                    <td>
                        <input type="checkbox" id="cbox1" value="aprobacion solicitud" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Se ha asignado una fecha para socializar tu proyecto</strong></label>
                    </td>
                    <td>
                        <input type="checkbox" id="cbox1" value="aprobacion solicitud" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Se ha asignado un profesor a tu proyecto</strong></label>
                    </td>
                    <td>
                        <input type="checkbox" id="cbox1" value="aprobacion solicitud" disabled="true">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>